@model ChameleonPhotoredactor.Models.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Authorization Page";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div class="content-container2">
    <div class="login-content">
        <h2 class="text-authorization">Authorization</h2>
    </div>

    <form class="auth-form" asp-controller="Account" asp-action="Login" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="input-group">
            <input asp-for="Username" placeholder=" " required>
            <label asp-for="Username"></label>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="input-group">
            <input asp-for="Password" placeholder=" " required>
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button class="button-sig_in" type="submit">
            Sign in
            <span class="material-symbols-outlined">login</span>
        </button>

        <div class="form_login-content">
        </div>
    </form>
</div>