@{
    ViewData["Title"] = "Profile Page";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<div class="content-container_profile">
    <img src="~/images/Font-Shapes/Authorization-circle.svg" class="shape shape9" />
    <img src="~/images/Font-Shapes/Authorization-circle2.svg" class="shape shape10" />
    <img src="~/images/Font-Shapes/Authorization-circle.svg" class="shape shape11" />

    <div class="bottom_profile">
        <div class="bottom_info-container">
            <h4>Manage your account settings and view your statistics</h4>
        </div>

        <div class="button-import-container">
            <form asp-controller="Editor" asp-action="BaseEditor" method="post" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="file" style="display:none;" accept="image/*" />

                <button class="profile_button-sign_out" type="button" id="uploadBtn">

                    <span class="text-import_a">Sign Out</span>
                    <span class="material-symbols-outlined icon_upload">logout</span>
                </button>
            </form>
        </div>

    </div>

    <div class="profil_information">
        <div class="profile-info_container">
            <div class="avatar-username_container">
                <div class="avatar-container">
                    <span class="material-symbols-outlined icon_upload" style="font-size: 50px;">person</span>
                </div>

                <div class="profile_container username-info_container">
                    <div class="label">
                        Username
                    </div>
                    <div class="user_info">xxx</div>
                </div>
            </div>


            <div class="profile_container displae-name-info_container">
                <div class="label">
                    Display Name
                </div>
                <div class="user_info">xxx</div>
            </div>

            <div class="profile_container email-info_container">
                <div class="label">
                    Email
                </div>
                <div class="user_info">xxx</div>
            </div>

            <div class="profile_container member-since-info_container">
                <div class="label">
                    Member since
                </div>
                <div class="user_info">xxx</div>
            </div>

            <div class="btn_edit-profile_container">
                <button class="btn_edit-profile">
                    Edit Profile
                    <span class="material-symbols-outlined icon_upload" style="font-size: 24px;">edit</span>
                </button>
            </div>
        </div>

        <div class="metrics-info_container">
            <h3>Your Statistics</h3>

            <div class="metric_block">
                <span class="material-symbols-outlined icon_upload" style="font-size: 24px;">upload</span>
                <div class="metric_label">Imported</div>
                <div class="metric_value">0</div> <!-- Model.ImportCount -->
            </div>

            <div class="metric_block">
                <span class="material-symbols-outlined icon_upload discover_tune-rotate" style="font-size: 24px;">discover_tune</span>
                <div class="metric_label">Edited</div>
                <div class="metric_value">0</div> <!-- Model.EditCount -->
            </div>

            <div class="metric_block">
                <span class="material-symbols-outlined icon_upload" style="font-size: 24px;">download</span>
                <div class="metric_label">Exported</div>
                <div class="metric_value">0</div> <!-- Model.ExportCount -->
            </div>
        </div>

    </div>
    

</div>
