@model ChameleonPhotoredactor.Models.ViewModels.Account.RegistrationViewModel
@{
    ViewData["Title"] = "Registration Page";
    Layout = "~/Views/Shared/_LayoutRegistration.cshtml";
}

<div class="content-container2">
    <img src="~/images/Font-Shapes/Authorization-circle.svg" class="shape shape9" />
    <img src="~/images/Font-Shapes/Authorization-circle2.svg" class="shape shape10" />
    <img src="~/images/Font-Shapes/Authorization-circle.svg" class="shape shape11" />
    <img src="~/images/Font-Shapes/Flower_Authorization.svg" class="shape shape12" />
    <img src="~/images/Font-Shapes/Square_Authorization.svg" class="shape shape13" />
    <img src="~/images/Font-Shapes/Square45_Authorization.svg" class="shape shape14" />
    <img src="~/images/Font-Shapes/Circle_Authorization.svg" class="shape shape15" />
    <img src="~/images/Font-Shapes/12-sided_cookie_Authorization.svg" class="shape shape16" />
    <img src="~/images/Font-Shapes/Circle2_Authorization.svg" class="shape shape17" />
    <img src="~/images/Font-Shapes/Pill_Authorization.svg" class="shape shape18" />

    <img src="~/images/Font-Shapes/Authorization-frame-top.svg" class="shape shape_top" />
    <img src="~/images/Font-Shapes/Authorization-frame-bottom.svg" class="shape shape_bottom" />

    <div class="login-content">
        <h2 class="text-authorization">Registration</h2>
    </div>

    <form class="auth-form" asp-controller="Account" asp-action="Registration" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="input-group">
            <input asp-for="Username" placeholder=" " required>
            <label asp-for="Username"></label>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="input-group">
            <input asp-for="DisplayName" placeholder=" " required>
            <label asp-for="DisplayName"></label>
            <span asp-validation-for="DisplayName" class="text-danger"></span>
        </div>

        <div class="input-group">
            <input asp-for="Email" placeholder=" " required>
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="input-group">
            <input asp-for="Password" placeholder=" " required>
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="input-group">
            <input asp-for="ConfirmPassword" placeholder=" " required>
            <label asp-for="ConfirmPassword"></label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button class="button-sig_in" type="submit">
            Sign up
            <span class="material-symbols-outlined">login</span>
        </button>
    </form>
</div>