@{
    ViewData["Title"] = "Authorization Page";
    Layout = "~/Views/Shared/_LayoutRegistration.cshtml";
}

<div class="content-container2">
    <img src="~/images/Font-Shapes/Authorization-circle.svg" class="shape shape9" />
    <img src="~/images/Font-Shapes/Authorization-circle2.svg" class="shape shape10" />
    <img src="~/images/Font-Shapes/Authorization-circle.svg" class="shape shape11" />
    <img src="~/images/Font-Shapes/Flower_Authorization.svg" class="shape shape12" />
    <img src="~/images/Font-Shapes/Square_Authorization.svg" class="shape shape13" />
    <img src="~/images/Font-Shapes/Square45_Authorization.svg" class="shape shape14" />
    <img src="~/images/Font-Shapes/Circle_Authorization.svg" class="shape shape15" />
    <img src="~/images/Font-Shapes/12-sided_cookie_Authorization.svg" class="shape shape16" />
    <img src="~/images/Font-Shapes/Circle2_Authorization.svg" class="shape shape17" />
    <img src="~/images/Font-Shapes/Pill_Authorization.svg" class="shape shape18" />

    <img src="~/images/Font-Shapes/Authorization-frame-top.svg" class="shape shape_top" />
    <img src="~/images/Font-Shapes/Authorization-frame-bottom.svg" class="shape shape_bottom" />

    <div class="login-content">
        <h2 class="text-authorization">Registration</h2>
    </div>

    <form class="auth-form">

        <div class="input-group">
            <input type="text" id="name" name="username" placeholder=" " required>
            <label id="username_label">Username</label>
        </div>

        <div class="input-group">
            <input type="text" id="displey_name" name="displey_name" placeholder=" " required>
            <label id="displey_name_label">Displey name</label>
        </div>

        <div class="input-group">
            <input type="email" id="email" name="email" placeholder=" " required>
            <label for="email">Email</label>
        </div>

        <div class="input-group">
            <input type="password" id="password" name="password" placeholder=" " required>
            <label id="password_label">Password</label>
        </div>

        <div class="input-group">
            <input type="password" id="repassword" name="repassword" placeholder=" " required>
            <label id="repassword_label">RePassword</label>
        </div>

        <button class="button-sig_in" type="submit">
            Sign up
            <span class="material-symbols-outlined">
                login
            </span>
        </button>
    </form>

</div>