@{
    ViewData["Title"] = "Editor Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="content-container2">

    <div class="guest-content">
        <div class="title-stats">
            <h1>Community Leaderboard</h1>
        </div>


    </div>
</div>