
.content-container_Full {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
    position: relative;
    height: 100%;
    width: 100%;
    margin-right: 40px;
}

.editor-layout {
    display: flex;
    height: 100vh;
}

.editor-nav_tools {
    position: fixed;
    width: 100px;
    height: 97.3vh;
    background-color: #fffeda;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

    .editor-nav_tools a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 28px;
        text-decoration: none;
        color: #241A0A;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 16px;
        transition: 0.3s;
    }

.editor-nav {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: #fffeda;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 2;
}

    .editor-nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 28px;
        text-decoration: none;
        color: #241A0A;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 16px;
        transition: 0.3s;
    }

.info-block {
    display: flex;
    background: #fff;
    width: 180px;
    border-radius: 10px;
    padding: 14px 18px;
    margin-top: 12px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.icon-container {
    background-color: transparent;
    border-radius: 30px;
    width: 60px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.discover_tune-rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.editor-nav a:hover .discover_tune-rotate {
    transform: rotate(90deg) scale(1.1);
}

.editor-nav a:hover .icon-container {
    background-color: #FFF5C5;
}

.editor-nav a.active .icon-container {
    background-color: #FFDC89;
}

.editor-nav a:hover .material-symbols-outlined {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.editor-nav_tools a:hover .material-symbols-outlined {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.toolbar_baseEditor {
    position: fixed;
    margin-left: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

.editor-nav_tools a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
    text-decoration: none;
    color: #241A0A;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

.editor-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
    text-decoration: none;
    color: #241A0A;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

.editor-right-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 94.5vh;
    background-color: #fffeda;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.2);
    font-family: 'Nunito', sans-serif;
    z-index: 3;
}

    .editor-right-panel h3 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #241A0A;
    }

.histogram {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    color: #241A0A;
}

.label-slider_container {
    display: flex;
    justify-content: space-between;
}

.slider-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.slider-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

    .slider-group input[type="range"] {
        width: 100%;
        accent-color: #ffcc5c;
        cursor: pointer;
    }

.apply-btn {
    margin-top: auto;
    background-color: #ffcc5c;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

    .apply-btn:hover {
        background-color: #ffd77a;
    }