
.content-container_Full {
    display: flex;
    background-color: rgba(255, 255, 255, 0.75);
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.editor-layout {
    display: flex;
    height: 100vh;
}

.editor-nav {
    position: fixed;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

    .editor-nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 28px;
        text-decoration: none;
        color: #241A0A;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 16px;
        transition: 0.3s;
    }

.icon-container {
    background-color: transparent;
    border-radius: 30px;
    width: 60px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.discover_tune-rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.editor-nav a:hover .discover_tune-rotate {
    transform: rotate(90deg) scale(1.1);
}

.editor-nav a.active .icon-container {
    background-color: #FFDC89;
}

.editor-nav a:hover .icon-container {
    background-color: #FFF5C5;
}

.editor-nav a:hover .material-symbols-outlined {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}