body {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: right;
    margin-right: 20px;
}

.guest-layout {
    display: flex;
    height: 100vh;
}

.guest-nav {
    position: relative;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

    .guest-nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 28px;
        text-decoration: none;
        color: #241A0A;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 16px;
        transition: 0.3s;
    }

.logo-container {
    background-color: transparent;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .logo-img:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
    }

    .nav-link.active .logo-container,
    .nav-link.active .login-container {
        background-color: #FFDC89 !important;
    }

.login-container {
    background-color: transparent;
    border-radius: 30px;
    width: 60px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .guest-nav a:hover .login-container,
    .guest-nav a:hover .logo-container {
        background-color: #FFF5C5;
    }

    .guest-nav a:hover .logo-img,
    .guest-nav a:hover .material-symbols-outlined {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

.guest-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

    .content-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 28px;
    margin-right: 20px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.shape {
    position: absolute;
}

.shape1 {
    top: 0%;
    left: 4%;
    width: 200px;
}

.shape2 {
    bottom: 22%;
    left: 1%;
    width: 180px;
}

.shape3 {
    top: 37%;
    right: 19%;
    width: 150px;
}

.shape4 {
    bottom: 1%;
    left: 20%;
    width: 280px;
}

.shape5 {
    bottom: 15%;
    right: 1%;
    width: 200px;
}

.shape6 {
    top: 3%;
    right: 8%;
    width: 225px;
}

.shape7 {
    top: 5%;
    left: 37%;
    width: 120px;
}

.shape8 {
    bottom: 15%;
    right: 32%;
    width: 100px;
}

.guest-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    text-align: center;
    z-index: 1;
    position: relative;
}

h1 {
    font-size: 4rem;
    color: #2E1C09;
    margin: 0;
}

h2 {
    font-size: 4rem;
    color: #F8A300;
    margin: 10px 0 30px;
}

.import-btn {
    background-color: #FFBA38;
    border: none;
    border-radius: 50px;
    height: 90px;
    width: 200px;
    padding: 15px 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

    .import-btn:hover {
        background-color: #FFD36E;
    }

.material-symbols-outlined {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_upload {
    opacity: 1;
}

.import-btn:hover .icon_upload {
    opacity: 0;
    display: none;
}

.import-btn:hover .icon_image {
    display: inline-flex;
}

.icon_image {
    display: none;
}