html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.nav-link.active .icon-container {
    background-color: #FFDC89 !important;
}

.guest-nav a:hover .icon-container {
    background-color: #FFF5C5;
}

.guest-nav a:not(active):hover .material-symbols-outlined {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.content-container_stats {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 28px;
    margin-right: 20px;
    margin-top: 40px;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 20px;
    gap: 10px;
}

.bottom_stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 20px;
}
.title-stats {
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 10px;
}

.filter_stats {
    display: flex;
    width: 406px;
    height: 50px;
    background-color: #FFDC89;
    border-radius: 12px;
    justify-content: center;
}

.sorting_parameter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin: 10px;
    min-width: 115px;
    max-height: 32px;
    padding: 5px;
    background-color: #FFFFF6;
    border-radius: 8px;
    transition: all 0.3s ease;
}

    .sorting_parameter:hover {
        font-size: 14px;
        background-color: #FFF5C5;
    }

.user_stats_all {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ranking-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFEDBF;
    width: 100%;
    height: 80px;
    border-radius: 8px;
    gap: 10px;
    padding: 10px 20px;
}

.nickname-col {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    gap: 10px;
    width: 50%;
    height: 40px;
}

.stats-col {
    display: flex;
    gap: 10px;
}

.iports_stat-value,
.edits_stat-value,
.exports_stat-value {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    width: 115px;
    height: 40px;
}

.user_stats {
    display: flex;
    max-width: 100%;
    height: 100px;
    background-color: #FFF5C5;
    border-radius: 12px;
    margin-top: auto;
    margin-bottom: 20px;
}