* {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}


html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.guest-layout {
    display: flex;
    height: 100vh;
}

.guest-nav {
    position: relative;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

    .guest-nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 28px;
        text-decoration: none;
        color: #241A0A;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 16px;
        transition: 0.3s;
    }

.guest-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.guest-nav a.active .icon-container {
    background-color: #FFDC89 !important;
}

.guest-nav a:hover .icon-container {
    background-color: #FFF5C5;
}

.guest-nav a:hover .material-symbols-outlined {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.content-container_library {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 28px;
    margin-right: 260px;
    margin-top: 40px;
    position: relative;
    height: 100%;
    width: 100%;
}

.bottom_library {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 50px;
    gap: 10px;
    padding: 20px;
}


.bottom_info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #FFDC89;
    width: 70%;
    height: 60%;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

    .bottom_info-container h4 {
        font-weight: 100;
    }

.library_button-import {
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #FFBA38;
    width: 105%;
    height: 50px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
    justify-content: space-between;
}

    .library_button-import:hover {
        background-color: #FFD36E;
    }

.icon-container {
    background-color: transparent;
    border-radius: 30px;
    width: 60px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.editor-right-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 94.5vh;
    background-color: #fffeda;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.2);
    font-family: 'Nunito', sans-serif;
    z-index: 3;
}

.histogram {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    color: #241A0A;
}

.info-block {
    background: #fff;
    width: 180px;
    border-radius: 10px;
    padding: 14px 18px;
    margin-top: 12px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

    .info-block p {
        margin: 2px 0;
        font-size: 14px;
        white-space: normal;
    }

.Library_button-group {
    margin-top: 266px;
    width: 100%;
}

a.library_button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #FFBA38;
    width: 88%;
    height: 25px;
    padding: 12px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
    color: #241A0A;
    text-decoration: none;
}

    a.library_button:hover {
        background-color: #ff6a00;
    }


.discover_tune-rotate {
    transform: rotate(90deg);
}

.image_grid_container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0 20px 0;
    width: 100%;
    justify-content: center;
}

.library_item_container {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library_item {
    width: 100%;
    height: 160px;
    border-radius: 20px;
    background-color: #FFF8CB;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .library_item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.library_caption {
    margin-top: 6px;
    text-align: left;
    margin-left: 4px;
    padding-right: 10px;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
}

    .library_caption h4 {
        white-space: normal;
        width: 100%;
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: #241A0A;
    }

    .library_caption h6 {
        white-space: normal;
        width: 100%;
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        color: #6c6c6c;
    }

@media (max-width: 1200px) {

    .library_item_container {
        width: 30%;
    }

    .content-container_library {
        margin-right: 260px;
    }

    .library_caption h4 {
        font-size: 14px;
    }

    .library_caption h6 {
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .library_item_container {
        width: 45%;
    }

    .content-container_library {
        margin-right: 260px;
    }

    .library_caption h4 {
        font-size: 12px;
    }

    .library_caption h6 {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .library_item_container {
        width: 90%;
    }

    .editor-right-panel {
        width: 150px;
    }

    .content-container_library {
        margin-right: 150px;
        margin-top: 20px;
        border-radius: 20px;
    }
}

@media (max-width: 576px) {

    .guest-layout {
        flex-direction: column;
        height: auto;
    }

    .guest-nav {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
    }

        .guest-nav a {
            margin-bottom: 0;
            margin-right: 20px;
            font-size: 14px;
        }

    .editor-right-panel {
        position: static;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        border-radius: 0;
        box-shadow: none;
    }

    .content-container_library {
        margin-right: 0;
        margin-top: 10px;
        width: 100%;
        border-radius: 12px;
    }

    .image_grid_container {
        justify-content: center;
        padding: 10px;
    }

    .library_item_container {
        width: 100%;
    }
    /* Add this style for the selected state */
    .library-item.selected-photo img {
        border: 4px solid #ffcc5c; /* Gold/Yellow highlight color */
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        transform: scale(1.02); /* Slight zoom effect */
        transition: all 0.2s ease-in-out;
    }

    .library-item {
        transition: all 0.2s ease-in-out;
    }
}
