html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
}

.nav-link.active .icon-container {
    background-color: #FFDC89 !important;
}

.guest-nav a.active .icon-container {
    background-color: #FFDC89 !important;
}


.guest-nav a:hover .icon-container {
    background-color: #FFF5C5;
}

.guest-nav a:not(active):hover .material-symbols-outlined {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.content-container_library {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 28px;
    margin-right: 260px;
    margin-top: 40px;
    position: relative;
    height: 100%;
    width: 100%;
}

.bottom_library {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 60px;
    padding: 20px;
    align-items: center;
    gap: 10px;
}

.bottom_info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #FFDC89;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.library_button-import {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #FFBA38;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.icon-container {
    background-color: transparent;
    border-radius: 30px;
    width: 60px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.discover_tune-rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.editor-nav a:hover .discover_tune-rotate {
    transform: rotate(90deg) scale(1.1);
}

.editor-nav a.active .icon-container {
    background-color: #FFDC89;
}

.editor-nav a:hover .icon-container {
    background-color: #FFF5C5;
}

.editor-nav a:hover .material-symbols-outlined {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.editor-nav_tools a:hover .material-symbols-outlined {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.toolbar_baseEditor {
    position: fixed;
    margin-left: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

.editor-nav_tools a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
    text-decoration: none;
    color: #241A0A;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

.editor-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
    text-decoration: none;
    color: #241A0A;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

.editor-right-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 94.5vh;
    background-color: #fffeda;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.2);
    font-family: 'Nunito', sans-serif;
    z-index: 3;
}

    .editor-right-panel h3 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #241A0A;
    }

.histogram {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    color: #241A0A;
}

.slider-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

    .slider-group label {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .slider-group input[type="range"] {
        width: 100%;
        accent-color: #ffcc5c;
        cursor: pointer;
    }

.apply-btn {
    margin-top: auto;
    background-color: #ffcc5c;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

    .apply-btn:hover {
        background-color: #ffd77a;
    }

.info-block {
    background: #fff;
    width: 180px;
    border-radius: 10px;
    padding: 14px 18px;
    margin-top: 12px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

    .info-block p {
        margin: 0;
        font-size: 14px;
        display: inline;
        white-space: normal;
    }

    .info-block p {
        margin: 2px 0;
        font-size: 14px;
    }

.Library_button-group {
    margin-top: 266px;
    width: 100%;
}

.library_button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #FFBA38;
    width: 100%;
    height: 50px;
    padding: 12px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: #ff6a00;
}