* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: right;
    margin-right: 20px;
}



.shape {
    position: absolute;
    transition: transform 10s ease-in-out;
    pointer-events: none;

    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.shape_top {
    top: -180px;
    left: -180px;
    width: 1674px;
}

.shape_bottom {
    bottom: -143px;
    right: -143px;
    width: 1680px;
}

.shape9 {
    top: -8%;
    left: -7%;
    width: 353px;

    animation-name: float9;
    animation-duration: 8s;
}

.shape10 {
    top: -6%;
    left: 9%;
    width: 353px;

    animation-name: float10;
    animation-duration: 10s;
}

.shape11 {
    bottom: -27%;
    right: -7%;
    width: 353px;

    animation-name: float11;
    animation-duration: 12s;
}

.shape12 {
    top: 36%;
    left: 12%;
    width: 170px;

    animation-name: float12;
    animation-duration: 10s;
}
.shape13 {
    bottom: 10%;
    left: 3%;
    width: 145px;

    animation-name: float13;
    animation-duration: 14s;
}
.shape14 {
    top: 12%;
    right: 24%;
    width: 200px;

    animation-name: float14;
    animation-duration: 11s;
}
.shape15 {
    bottom: 11%;
    left: 32%;
    width: 99px;

    animation-name: float15;
    animation-duration: 13s;
}
.shape16 {
    bottom: 26%;
    right: 2%;
    width: 200px;

    animation-name: float16;
    animation-duration: 15s;
}
.shape17 {
    bottom: 16%;
    right: 30%;
    width: 145px;

    animation-name: float17;
    animation-duration: 9s;
}
.shape18 {
    top: 6%;
    right: 4%;
    width: 170px;

    animation-name: float18;
    animation-duration: 12s;
}

@keyframes float9 {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(180deg);
    }

    100% {
        transform: translateY(0) rotate(360deg);
    }
}

@keyframes float10 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes float11 {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(180deg);
    }

    100% {
        transform: translateY(0) rotate(360deg);
    }
}

@keyframes float12 {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(15px) rotate(-180deg);
    }

    100% {
        transform: translateY(0) rotate(-360deg);
    }
}

@keyframes float13 {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-10px) rotate(90deg);
    }

    100% {
        transform: translateY(0) rotate(180deg);
    }
}

@keyframes float14 {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(25px) rotate(270deg);
    }

    100% {
        transform: translateY(0) rotate(540deg);
    }
}

@keyframes float15 {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-18px) rotate(360deg);
    }

    100% {
        transform: translateY(0) rotate(720deg);
    }
}

@keyframes float16 {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(22px) rotate(180deg);
    }

    100% {
        transform: translateY(0) rotate(360deg);
    }
}

@keyframes float17 {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-12px) rotate(360deg);
    }

    100% {
        transform: translateY(0) rotate(720deg);
    }
}

@keyframes float18 {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(10px) rotate(-180deg);
    }

    100% {
        transform: translateY(0) rotate(-360deg);
    }
}

.content-container2 {
    display: flex;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 28px;
    margin-right: 20px;
    margin-top: 40px;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.login-content {
    padding: 0 100px 0 80px;
    margin-left: 145px;
    margin-top: -655px;
    z-index: 10;
}

.text-authorization {
    font-size: 2rem;
    color: #241A0A;
    margin: 10px 0 30px;
}

.auth-form {
    width: 335px;
    padding: 24px;
    font-family: 'Nunito', sans-serif;
}

.input-group {
    position: relative;
    margin-bottom: 24px;
}

    .input-group input {
        width: 100%;
        padding: 14px 12px;
        font-size: 16px;
        border: 1.5px solid #ccc;
        border-radius: 8px;
        outline: none;
        background: transparent;
        transition: border-color 0.2s;
    }

    .input-group label {
        position: absolute;
        left: 12px;
        top: 14px;
        color: #B3B3B3;
        font-size: 16px;
        pointer-events: none;
        transition: 0.2s ease all;
    }

    .input-group input:focus ~ label,
    .input-group input:not(:placeholder-shown) ~ label {
        top: -8px;
        left: 10px;
        font-size: 12px;
        background: #FFFFF6;
        padding: 0 4px;
        color: #241A0A;
    }

    .input-group input:focus {
        border-color: #FFBA38;
    }

.button-sig_in {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #FFBA38;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

    button:hover {
        background-color: #ff6a00;
    }

.form_login-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-authorization_a {
    color: #000FDC;
    font-weight: bold;
}