html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.guest-layout {
    display: flex;
    height: 100vh;
}

.guest-nav {
    position: relative;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

    .guest-nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 28px;
        text-decoration: none;
        color: #241A0A;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 16px;
        transition: 0.3s;
    }

.guest-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.guest-nav a.active .icon-container {
    background-color: #FFDC89 !important;
}

.guest-nav a:hover .icon-container {
    background-color: #FFF5C5;
}

.guest-nav a:not(.active):hover .material-symbols-outlined {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.content-container_profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    position: relative;
    height: 100%;
    width: 100%;
}

.shape {
    position: absolute;
}

.shape9 {
    top: -37%;
    left: -7%;
    width: 353px;
}

.shape10 {
    top: -3%;
    right: 0%;
    width: 353px;
}

.shape11 {
    top: -9%;
    right: -14%;
    width: 353px;
}

.bottom_profile {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50px;
    gap: 10px;
    padding: 20px;
}


.bottom_info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    background-color: #FFDC89;
    width: 60%;
    height: 60%;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 6px;
    transition: background 0.3s;
}

    .bottom_info-container h4 {
        font-weight: 100;
    }

.profile_button-sign_out {
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #FFBA38;
    width: 105%;
    height: 50px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
    justify-content: space-between;
}

    .profile_button-sign_out:hover {
        background-color: #FFD36E;
    }

.icon-container {
    background-color: transparent;
    border-radius: 30px;
    width: 60px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.profil_information {
    display: flex;
    width: 100%;
    height: 66%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.profile-info_container {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.avatar-username_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    background-color: #FFDC89;
    border-radius: 28px;
}

.username-info_container {
    width: 70%;
}

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    background-color: #FFDC89;
    width: 100%;
    height: 60px;
    gap: 5px;
    font-size: 16px;
    border: none;
    padding: 10px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

.user_info {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: #fff;
    width: 90%;
    height: 50%;
    padding: 0 5px;
}

.label {
    display: flex;
    width: 100%;
    margin-left: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.btn_edit-profile_container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.btn_edit-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
}

    .btn_edit-profile:hover {
        background-color: #ff6a00;
    }

.metric_block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFBA38;
    width: 100%;
    height: 6%;
    gap: 10px;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.metrics-info_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 180px;
    height: 100%;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
}

.metric_label {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.discover_tune-rotate {
    transform: rotate(90deg);
}

.metric_value {
    font-size: 16px;
}